.hero {
    text-align: center;
    padding: 0rem 2rem; /* Reduced padding */
    margin-top: 0; /* Remove margin-top to bring it closer */
    background-color: #f0f8ff;
  }
  
  .hero img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .hero h2 {
    margin: 1rem 0;
    color: #333;
  }
  
  .hero p {
    color: #555;
  }
  